In [ ]:
# Challenge 4

In [9]:
# Initialize imports
import csv 
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

%matplotlib inline

In [28]:
# Set .csv file paths
whale_returns = Path("./Resources/whale_returns.csv")
algo_returns = Path("./Resources/algo_returns.csv")
sp500_history = Path("./Resources/sp500_history.csv")

# Load CSV data into Pandas using read_csv
whale_returns_data = pd.read_csv(whale_returns)
algo_returns_data = pd.read_csv(algo_returns)
sp500_history_data = pd.read_csv(sp500_history)

# Create a dataframe using CSV data
whale_df = pd.read_csv("./Resources/whale_returns.csv")
algo_df = pd.read_csv("./Resources/algo_returns.csv")
sp500_df = pd.read_csv("./Resources/sp500_history.csv")

# Initialize Data Exploration: Print to ensure that data loads correctly
print(whale_df)
whale_df.shape

            Date  SOROS FUND MANAGEMENT LLC  PAULSON & CO.INC.   \
0     2015-03-02                        NaN                 NaN
1     2015-03-03                  -0.001266           -0.004981
2     2015-03-04                   0.002230            0.003241
3     2015-03-05                   0.004016            0.004076
4     2015-03-06                  -0.007905           -0.003574
...          ...                        ...                 ...
1055  2019-04-25                  -0.000285           -0.001291
1056  2019-04-26                   0.008149            0.009162
1057  2019-04-29                   0.001254            0.002719
1058  2019-04-30                  -0.001295           -0.002211
1059  2019-05-01                  -0.005847           -0.001341

      TIGER GLOBAL MANAGEMENT LLC  BERKSHIRE HATHAWAY INC
0                             NaN                     NaN
1                       -0.000496               -0.006569
2                       -0.002534                0.004213
3                        0.002355                0.006726
4                       -0.008481               -0.013098
...                           ...                     ...
1055                    -0.005153                0.004848
1056                     0.012355                0.010434
1057                     0.006251                0.005223
1058                    -0.000259               -0.003702
1059                    -0.007936               -0.007833

[1060 rows x 5 columns]

(1060, 5)

In [25]:
# Search for nulls
whale_df.isna

<bound method DataFrame.isna of             Date  SOROS FUND MANAGEMENT LLC  PAULSON & CO.INC.   \
0     2015-03-02                        NaN                 NaN
1     2015-03-03                  -0.001266           -0.004981
2     2015-03-04                   0.002230            0.003241
3     2015-03-05                   0.004016            0.004076
4     2015-03-06                  -0.007905           -0.003574
...          ...                        ...                 ...
1055  2019-04-25                  -0.000285           -0.001291
1056  2019-04-26                   0.008149            0.009162
1057  2019-04-29                   0.001254            0.002719
1058  2019-04-30                  -0.001295           -0.002211
1059  2019-05-01                  -0.005847           -0.001341

      TIGER GLOBAL MANAGEMENT LLC  BERKSHIRE HATHAWAY INC
0                             NaN                     NaN
1                       -0.000496               -0.006569
2                       -0.002534                0.004213
3                        0.002355                0.006726
4                       -0.008481               -0.013098
...                           ...                     ...
1055                    -0.005153                0.004848
1056                     0.012355                0.010434
1057                     0.006251                0.005223
1058                    -0.000259               -0.003702
1059                    -0.007936               -0.007833

[1060 rows x 5 columns]>

In [23]:
# Drop nulls
whale_df=whale_df.dropna()

<bound method DataFrame.dropna of             Date  SOROS FUND MANAGEMENT LLC  PAULSON & CO.INC.   \
0     2015-03-02                        NaN                 NaN
1     2015-03-03                  -0.001266           -0.004981
2     2015-03-04                   0.002230            0.003241
3     2015-03-05                   0.004016            0.004076
4     2015-03-06                  -0.007905           -0.003574
...          ...                        ...                 ...
1055  2019-04-25                  -0.000285           -0.001291
1056  2019-04-26                   0.008149            0.009162
1057  2019-04-29                   0.001254            0.002719
1058  2019-04-30                  -0.001295           -0.002211
1059  2019-05-01                  -0.005847           -0.001341

      TIGER GLOBAL MANAGEMENT LLC  BERKSHIRE HATHAWAY INC
0                             NaN                     NaN
1                       -0.000496               -0.006569
2                       -0.002534                0.004213
3                        0.002355                0.006726
4                       -0.008481               -0.013098
...                           ...                     ...
1055                    -0.005153                0.004848
1056                     0.012355                0.010434
1057                     0.006251                0.005223
1058                    -0.000259               -0.003702
1059                    -0.007936               -0.007833

[1060 rows x 5 columns]>

In [8]:
#Clean data

# columns_num=df.shape
# csv_data.shape
 
# Identify if there are any nulls
#csv_data.info()

#open the csv file
#with open('budget_data.csv') as csvfile:  
#   csvreader = csv.DictReader(csvfile)

In [11]:
# print(algo_df)
# print(sp500_df)
# Print the datatype of the file object
# print(type(csvfile))

In [12]:
# Pass in the csv file to the csv.reader() function (with ',' as the delmiter/separator) and return the csvreader object
#csvreader = csv.reader(csvfile, delimiter=',')

# Print the datatype of the csvreader
# print(type(csvreader))

In [13]:
 # Go to the next row from the start of the file
    # (which is often the first row/header) and iterate line_num by 1
    # header = next(csvreader)
    # line_num += 1
    # Print the header
    #print(f"{header} <---- HEADER")

    # Read each row of data after the header
    # for row in csvreader:
        # Print the row
        # print(row)

In [4]:
# Set the output file path
#output_path = Path('output.csv')

# Open the output path as a file object
#with open(output_path, 'w') as csvfile:
    # Set the file object as a csvwriter object
    #csvwriter = csv.writer(csvfile, delimiter=',')
    # Write the header to the output file
    #csvwriter.writerow(header)
    # Write the list of metrics to the output file
    #csvwriter.writerow(metrics)

In [ ]:
# Concat returns DataFrames
# all_returns = pd.concat([harold_returns,my_returns], axis='columns', join='inner')
# all_returns.head()

In [ ]:
#Scatter Plot
#df.plot()

In [ ]:
# Calculate Sharpe Ratio
# sharpe_ratios = (all_returns.mean() * 252) / (all_portfolio_std * np.sqrt(252))
# sharpe_ratios.head()

In [ ]:
# Plot Sharpe Ratio
sharpe_ratios.plot.bar(title='Sharpe Ratios')