In [ ]:
# Challenge 4

In [86]:
# Initialize imports
import csv 
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

%matplotlib inline

In [87]:
# Set .csv file paths & Import data
whale_returns = Path("./Resources/whale_returns.csv")
algo_returns = Path("./Resources/algo_returns.csv")
sp500_history = Path("./Resources/sp500_history.csv")

# Load CSV data into Pandas using read_csv/ Index by date
whale_returns_data = pd.read_csv(whale_returns, index_col='Date', parse_dates=True, infer_datetime_format=True)
algo_returns_data = pd.read_csv(algo_returns, index_col='Date', parse_dates=True, infer_datetime_format=True)
sp500_history_data = pd.read_csv(sp500_history, index_col='Date', parse_dates=True, infer_datetime_format=True)

In [88]:
# Set Date as index
# whale_df = whale_returns_data
# algo_df = algo_returns_data
# sp500_df = sp500_history_data

In [89]:
# Create dataframes using CSV data
whale_df = pd.read_csv("./Resources/whale_returns.csv")
algo_df = pd.read_csv("./Resources/algo_returns.csv")
sp500_df = pd.read_csv("./Resources/sp500_history.csv")

In [90]:
# Initialize Data Exploration: Print to ensure that data loads correctly
print(whale_df)

            Date  SOROS FUND MANAGEMENT LLC  PAULSON & CO.INC.   \
0     2015-03-02                        NaN                 NaN
1     2015-03-03                  -0.001266           -0.004981
2     2015-03-04                   0.002230            0.003241
3     2015-03-05                   0.004016            0.004076
4     2015-03-06                  -0.007905           -0.003574
...          ...                        ...                 ...
1055  2019-04-25                  -0.000285           -0.001291
1056  2019-04-26                   0.008149            0.009162
1057  2019-04-29                   0.001254            0.002719
1058  2019-04-30                  -0.001295           -0.002211
1059  2019-05-01                  -0.005847           -0.001341

      TIGER GLOBAL MANAGEMENT LLC  BERKSHIRE HATHAWAY INC
0                             NaN                     NaN
1                       -0.000496               -0.006569
2                       -0.002534                0.004213
3                        0.002355                0.006726
4                       -0.008481               -0.013098
...                           ...                     ...
1055                    -0.005153                0.004848
1056                     0.012355                0.010434
1057                     0.006251                0.005223
1058                    -0.000259               -0.003702
1059                    -0.007936               -0.007833

[1060 rows x 5 columns]

In [91]:
# Search for nulls
whale_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1060 entries, 0 to 1059
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         1060 non-null   object
 1   SOROS FUND MANAGEMENT LLC    1059 non-null   float64
 2   PAULSON & CO.INC.            1059 non-null   float64
 3   TIGER GLOBAL MANAGEMENT LLC  1059 non-null   float64
 4   BERKSHIRE HATHAWAY INC       1059 non-null   float64
dtypes: float64(4), object(1)
memory usage: 41.5+ KB

In [92]:
whale_df.shape

(1060, 5)

In [93]:
whale_df.isna()

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
0,False,True,True,True,True
1,False,False,False,False,False
2,False,False,False,False,False
3,False,False,False,False,False
4,False,False,False,False,False
...,...,...,...,...,...
1055,False,False,False,False,False
1056,False,False,False,False,False
1057,False,False,False,False,False
1058,False,False,False,False,False
1059,False,False,False,False,False

In [94]:
# Drop nulls
whale_df=whale_df.dropna()
algo_df=algo_df.dropna()
sp500_df=sp500_df.dropna()

In [95]:
# print(whale_df)
# print(algo_df)
# print(sp500_df)

In [96]:
# Concat portfolios into one DataFrame
merged_portfolio_df = pd.concat([whale_df, algo_df,sp500_df], axis='columns', join='inner', sort=True)
merged_portfolio_df

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC,Date,Algo 1,Algo 2,Date,Close
6,2015-03-10,-0.010263,-0.005341,-0.012079,-0.009739,2014-06-05,0.004062,0.013285,12-Apr-19,$2907.41
7,2015-03-11,0.004012,0.005163,0.003312,-0.001147,2014-06-06,0.001857,0.008284,11-Apr-19,$2888.32
8,2015-03-12,0.008265,0.010272,0.013117,0.010801,2014-06-09,-0.005012,0.005668,10-Apr-19,$2888.21
9,2015-03-13,-0.002497,-0.001428,-0.003697,-0.008142,2014-06-10,0.004406,-0.000735,9-Apr-19,$2878.20
10,2015-03-16,0.007901,0.003583,0.007953,0.008055,2014-06-11,0.004760,-0.003761,8-Apr-19,$2895.77
...,...,...,...,...,...,...,...,...,...,...
1055,2019-04-25,-0.000285,-0.001291,-0.005153,0.004848,2018-08-03,-0.003656,0.002817,11-Feb-15,$2068.53
1056,2019-04-26,0.008149,0.009162,0.012355,0.010434,2018-08-06,0.000529,0.000285,10-Feb-15,$2068.59
1057,2019-04-29,0.001254,0.002719,0.006251,0.005223,2018-08-07,0.000207,-0.001330,9-Feb-15,$2046.74
1058,2019-04-30,-0.001295,-0.002211,-0.000259,-0.003702,2018-08-08,0.008429,-0.001812,6-Feb-15,$2055.47
1059,2019-05-01,-0.005847,-0.001341,-0.007936,-0.007833,2018-08-09,0.003474,0.000550,5-Feb-15,$2062.52

In [79]:
# Print the datatype of the XXX
# print(type(csvfile))

In [82]:
# Calculate std dev
# merged_portfolio = all_returns.std()
# merged_portfolio_std.head()

In [83]:
#Scatter Plot
# merged_portfolio_df.plot()

In [84]:
# Calculate Sharpe Ratio
# sharpe_ratios = (all_returns.mean() * 252) / (all_portfolio_std * np.sqrt(252))
# sharpe_ratios.head()

In [85]:
# Daily Returns
# def daily_returns(profit):
#    return profit[:-2] / profit[1:] -1
# daily_returns(sp500_df)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
# Plot Sharpe Ratio
sharpe_ratios.plot.bar(title='Sharpe Ratios')