In [ ]:
# Challenge 4

In [90]:
# Initialize imports
import csv 
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

%matplotlib inline

In [91]:
# Set .csv file paths
whale_returns = Path("./Resources/whale_returns.csv")
algo_returns = Path("./Resources/algo_returns.csv")
sp500_history = Path("./Resources/sp500_history.csv")

# Load CSV data into Pandas using read_csv
whale_returns_data = pd.read_csv(whale_returns, parse_dates=True, infer_datetime_format=True)
algo_returns_data = pd.read_csv(algo_returns, parse_dates=True, infer_datetime_format=True)
sp500_history_data = pd.read_csv(sp500_history, parse_dates=True, infer_datetime_format=True)

In [92]:
# Create dataframes using CSV data
whale_df = pd.read_csv("./Resources/whale_returns.csv")
algo_df = pd.read_csv("./Resources/algo_returns.csv")
sp500_df = pd.read_csv("./Resources/sp500_history.csv")

In [93]:
# Set Date as index
whale_df = whale_df.set_index('Date')
algo_df = algo_df.set_index('Date')
sp500_df = sp500_df.set_index('Date')

In [94]:
# Initialize Data Exploration: Print to ensure that data loads correctly
print(whale_df)

            SOROS FUND MANAGEMENT LLC  PAULSON & CO.INC.   \
Date
2015-03-02                        NaN                 NaN
2015-03-03                  -0.001266           -0.004981
2015-03-04                   0.002230            0.003241
2015-03-05                   0.004016            0.004076
2015-03-06                  -0.007905           -0.003574
...                               ...                 ...
2019-04-25                  -0.000285           -0.001291
2019-04-26                   0.008149            0.009162
2019-04-29                   0.001254            0.002719
2019-04-30                  -0.001295           -0.002211
2019-05-01                  -0.005847           -0.001341

            TIGER GLOBAL MANAGEMENT LLC  BERKSHIRE HATHAWAY INC
Date
2015-03-02                          NaN                     NaN
2015-03-03                    -0.000496               -0.006569
2015-03-04                    -0.002534                0.004213
2015-03-05                     0.002355                0.006726
2015-03-06                    -0.008481               -0.013098
...                                 ...                     ...
2019-04-25                    -0.005153                0.004848
2019-04-26                     0.012355                0.010434
2019-04-29                     0.006251                0.005223
2019-04-30                    -0.000259               -0.003702
2019-05-01                    -0.007936               -0.007833

[1060 rows x 4 columns]

In [95]:
# Search for nulls
whale_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1060 entries, 2015-03-02 to 2019-05-01
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   SOROS FUND MANAGEMENT LLC    1059 non-null   float64
 1   PAULSON & CO.INC.            1059 non-null   float64
 2   TIGER GLOBAL MANAGEMENT LLC  1059 non-null   float64
 3   BERKSHIRE HATHAWAY INC       1059 non-null   float64
dtypes: float64(4)
memory usage: 41.4+ KB

In [96]:
whale_df.shape

(1060, 4)

In [97]:
whale_df.isna()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-02,True,True,True,True
2015-03-03,False,False,False,False
2015-03-04,False,False,False,False
2015-03-05,False,False,False,False
2015-03-06,False,False,False,False
...,...,...,...,...
2019-04-25,False,False,False,False
2019-04-26,False,False,False,False
2019-04-29,False,False,False,False
2019-04-30,False,False,False,False
2019-05-01,False,False,False,False

In [98]:
# Drop nulls
whale_df=whale_df.dropna()
algo_df=algo_df.dropna()
sp500_df=sp500_df.dropna()

In [99]:
# print(whale_df)
# print(algo_df)
# print(sp500_df)

In [100]:
# Concat portfolios into one DataFrame
merged_portfolio_df = pd.concat([whale_df, algo_df,sp500_df], axis=1, join='inner', sort=True)
merged_portfolio_df

Empty DataFrame
Columns: [SOROS FUND MANAGEMENT LLC, PAULSON & CO.INC. , TIGER GLOBAL MANAGEMENT LLC, BERKSHIRE HATHAWAY INC, Algo 1, Algo 2, Close]
Index: []

In [101]:

#open the csv file
#with open('budget_data.csv') as csvfile:  
#   csvreader = csv.DictReader(csvfile)

In [41]:
# Print the datatype of the XXX
# print(type(csvfile))

In [12]:
# Pass in the csv file to the csv.reader() function (with ',' as the delmiter/separator) and return the csvreader object
#csvreader = csv.reader(csvfile, delimiter=',')

# Print the datatype of the csvreader
# print(type(csvreader))

In [13]:
 # Go to the next row from the start of the file
    # (which is often the first row/header) and iterate line_num by 1
    # header = next(csvreader)
    # line_num += 1
    # Print the header
    #print(f"{header} <---- HEADER")

    # Read each row of data after the header
    # for row in csvreader:
        # Print the row
        # print(row)

In [ ]:
# Calculate std dev
# merged_portfolio = all_returns.std()
# merged_portfolio_std.head()

In [ ]:
#Scatter Plot
#df.plot()

In [ ]:
# Calculate Sharpe Ratio
# sharpe_ratios = (all_returns.mean() * 252) / (all_portfolio_std * np.sqrt(252))
# sharpe_ratios.head()

In [ ]:
# Plot Sharpe Ratio
sharpe_ratios.plot.bar(title='Sharpe Ratios')